.partners {
    
    
    .container {
        padding-bottom: 124.72px;
        max-width: 1150px;
    }

    @media screen and (max-width: $small) {
        .container {
            padding-bottom: 12px;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    @media screen and (max-width: $small) {
        &__content {
            display: block;
            margin: auto;
            width: 272px
        }
    }

    &__content--item {
        display: flex;
        align-items: center;
    }

    p {
        font-size: 20px;
        line-height: 23.44px;
    }

    img {
        padding-right: 18px;
    }

    &__title {
        padding-bottom: 86.64px;
        text-align: center;
    }
    
    @media screen and (max-width: $small) {
        &__title {
            padding-bottom: 12px;
        }
    }
}